
    
    /* img{
        width: 75%;
        height: auto;
    } */
    /* .hero-content h2{
        font-size: 24px;
        color:blue;
        margin-bottom: 0.5rem;
    }
    .hero-content h1{
        font-size: 48px;
        color:purple;
        margin-bottom: 2.4rem;
    }
    .hero-content p{
        font-size: 18px;
        letter-spacing: 1px;
        text-align:justify;
        margin: 20px 0px 40px 0px;
        margin-bottom: 4.8rem;
    } */
    